/*.goog-logo-link,.goog-te-gadget span {
    display:none !important;
}*/

/*.goog-te-gadget {
    font-size: 0px !important;
}*/
    

body > div.skiptranslate{
    display: none;
}

body {
    top: 0px !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

@media screen and (max-width: 768px) {
    #google_translate_element {
        width: 80%;
        font-size: 14px;
        padding: 10px;
    }
}